h1,
p {
  font-family: Lato;
  color: #57606f;
}

body {
  background-color:rgba( 31, 38, 135, 0.10) ;
}

section{
  margin: 1vh;
  padding:2vh;
}

.text-link{
  color:rgb(16, 89, 163);
   font-weight: 600
}

.text-link:hover{
  background-color: orange;
  color:white;
 ;
}

section#navbar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;

  background: rgba( 244, 244, 181, 0.18 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.0px );
-webkit-backdrop-filter: blur( 7.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#logo-name {
  margin-left: 1rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  flex-wrap: nowrap;
}

.navbar-col-right {
  flex: 2;
}

ul {
  display: flex;
  justify-content: space-around;
  padding:1%;
}

li {
  list-style: none;
}

.nav-items:hover {
  background-color: #eccc68;
  color:white;
  border: 0.5px solid dodgerblue;
  border-radius:0.5rem;
  padding-right:0.5rem;
}

i:hover{
  color:cornflowerblue;
}

#hero-pic {
  height: 20vw;
  border-radius: 12%;
  background: #f1f2b5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f1f2b5, #135058); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f1f2b5, #135058); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border:2px solid white;

}

#hero-pic:hover{
 
animation: change-gradient 1s ease-in-out;

}

section#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-space {
  text-align: center;
  line-height: 1.5rem;
  margin-left:1rem
}

#developer-span {
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 0px 3px 19px #ffa502;
}

#text-space {
  padding: 1.5rem;
  line-height: 1.5rem;
  text-justify: inter-cluster;
}

#hero-pic-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding:0.5rem;
}

#short-bio-wrapper {
  margin-top: 2vh;
  padding: 1vw;
  width: 80vw;
  border-radius: 1rem;
  box-shadow: inset -20px 20px 60px #fdfaf5ef, inset 20px -20px 60px #f1f5f2e3;
}

i{
  margin:0 1vw;
  color:orangered;
}

@keyframes change-gradient{
  0%{
    background-color: white;
  }
  50%{
  background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border:2px solid orangered;



  }


  100%{
      background: #00bf8f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

@media(max-width:520px){

.navbar-col-left{
  flex:6;
}

.navbar-col-right {
  display: flex;
  flex:6;
  justify-content: space-evenly;
}


ul{
display:flex;
flex-direction:column;

}

li{
margin-top:0.8rem;
}

}

@media(min-width:720px){
#short-bio-wrapper {
  width: 50vw;
  }

#hero-pic {
  height: 10vw;
  border-radius: 50%;
}

}